USE [master]
GO
/****** Object:  Database [dbGestaoClinica]    Script Date: 26/07/2025 16:26:13 ******/
CREATE DATABASE [dbGestaoClinica]
 CONTAINMENT = NONE
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbGestaoClinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbGestaoClinica]
GO
/****** Object:  Table [dbo].[Agendamento]    Script Date: 26/07/2025 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agendamento](
	[IdAgendamento] [int] IDENTITY(1,1) NOT NULL,
	[DataHoraInicio] [datetime] NOT NULL,
	[DuracaoAtendimento] [int] NOT NULL,
	[Observacoes] [nvarchar](max) NULL,
	[DataCriacao] [datetime] NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[ServicoId] [int] NOT NULL,
	[FuncionarioId] [int] NOT NULL,
	[StatusAgendaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAgendamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 26/07/2025 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NomeCategoria] [nvarchar](100) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/07/2025 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NOT NULL,
	[Observacoes] [nvarchar](max) NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
	[PessoaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 26/07/2025 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[IdEndereco] [int] IDENTITY(1,1) NOT NULL,
	[Logradouro] [nvarchar](255) NULL,
	[Numero] [nvarchar](30) NULL,
	[Complemento] [nvarchar](100) NULL,
	[Cidade] [nvarchar](100) NULL,
	[UF] [nvarchar](30) NULL,
	[CEP] [nvarchar](9) NULL,
	[DataCriacao] [datetime] NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEndereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 26/07/2025 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[IdFuncionario] [int] NOT NULL,
	[SenhaHash] [nvarchar](max) NOT NULL,
	[Perfil] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
	[PessoaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 26/07/2025 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[IdPessoa] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](255) NOT NULL,
	[Telefone] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NULL,
	[CPF] [nvarchar](14) NULL,
	[DataNascimento] [date] NULL,
	[DataCriacao] [datetime] NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
	[EnderecoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPessoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servico]    Script Date: 26/07/2025 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servico](
	[IdServico] [int] IDENTITY(1,1) NOT NULL,
	[NomeServico] [nvarchar](100) NOT NULL,
	[Descricao] [nvarchar](max) NULL,
	[Preco] [decimal](10, 2) NOT NULL,
	[DuracaoEstimada] [int] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
	[CategoriaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusAgenda]    Script Date: 26/07/2025 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusAgenda](
	[IdStatusAgenda] [int] IDENTITY(1,1) NOT NULL,
	[NomeStatus] [nvarchar](100) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatusAgenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agendamento] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Agendamento] ADD  DEFAULT (getdate()) FOR [UltimaAtualizacao]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT (getdate()) FOR [UltimaAtualizacao]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [UltimaAtualizacao]
GO
ALTER TABLE [dbo].[Endereco] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Endereco] ADD  DEFAULT (getdate()) FOR [UltimaAtualizacao]
GO
ALTER TABLE [dbo].[Funcionario] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Funcionario] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Funcionario] ADD  DEFAULT (getdate()) FOR [UltimaAtualizacao]
GO
ALTER TABLE [dbo].[Pessoa] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Pessoa] ADD  DEFAULT (getdate()) FOR [UltimaAtualizacao]
GO
ALTER TABLE [dbo].[Servico] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Servico] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Servico] ADD  DEFAULT (getdate()) FOR [UltimaAtualizacao]
GO
ALTER TABLE [dbo].[StatusAgenda] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[StatusAgenda] ADD  DEFAULT (getdate()) FOR [UltimaAtualizacao]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Funcionario] ([IdFuncionario])
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD FOREIGN KEY([ServicoId])
REFERENCES [dbo].[Servico] ([IdServico])
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD FOREIGN KEY([StatusAgendaId])
REFERENCES [dbo].[StatusAgenda] ([IdStatusAgenda])
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoa] ([IdPessoa])
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoa] ([IdPessoa])
GO
ALTER TABLE [dbo].[Pessoa]  WITH CHECK ADD FOREIGN KEY([EnderecoId])
REFERENCES [dbo].[Endereco] ([IdEndereco])
GO
ALTER TABLE [dbo].[Servico]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
USE [master]
GO
