{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "ConnectionStrings": {
        "DefaultConnection": "Server=localhost;Database=nome_do_banco;User Id=usuario;Password=senha;TrustServerCertificate=true;"
    },
    "AllowedHosts": "*",
    "DetailedErrors": true,
    "Jwt": {
        "Key":  "a1234567890!@#$%¨&*()_+qwertyuiopasdfgh",
        "Issuer": "GestaoClinicaAPI",
        "Audience": "GestaoClinicaClient"
    }
}
